@page "/Account/ForgotPassword"

@using YgoProgressionDuels.Pages.Shared;

<h3>Forgot your password?</h3>

<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="_forgotPasswordModel" OnValidSubmit="OnPasswordResetAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <DisplayName For="() => _forgotPasswordModel.Email">
                    <InputText @bind-Value="_forgotPasswordModel.Email" />
                </DisplayName>
                <ValidationMessage For="() => _forgotPasswordModel.Email" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>