@page "/Account/RegisterConfirmation"

<h3>Register Confirmation</h3>

<p>
    A confirmation request has been sent to your email.<br />
    You will need to confirm your account before you can login.
</p>
<p>
    If you do not see the confirmation email in your inbox,<br />
    check your spam folder, it may have been sent there.
</p>
<p>
    If you still do not see your confirmation email,<br />
    you can try sending it again by <NavLink href="/Account/ResendEmailConfirmation">clicking here</NavLink>.
</p>