@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <img src=@Model.AvatarUrl height="100" />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    <div class="input-group-append">
                        @if (Model.IsEmailConfirmed)
                        {
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        }
                        else
                        {
                            <span class="input-group-text text-danger font-weight-bold">✗</span>
                        }
                    </div>
                </div>
                @if (!Model.IsEmailConfirmed)
                {
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}