@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Please Check Your Email To Confirm Your Account";
}

<h1>@ViewData["Title"]</h1>

<p>
    A confirmation request has been sent to your email.<br />
    You will need to confirm your account before you can login.<br />
</p>
