@page "/"

<div class="text-center">
    <h1 class="display-4">Yu-Gi-Oh! Progression Duels</h1>
    <p><em>by DiffidentDeckard</em></p>
</div>

<Blazorise.CardHeader Class="bg-secondary">
    <h4>What are Progression Duels?</h4>
</Blazorise.CardHeader>
<Blazorise.CardBody>
    <p>
        Famous Yugi-Tubers <a href="https://www.youtube.com/user/Cimoooooooo">Cimoooooooo</a> and <a href="https://www.youtube.com/user/Nyhmnim">Nyhmnim</a>
        started a special <a href="https://www.youtube.com/watch?v=IxA6_AzCGG4&list=PLpAqSYsFkgvtUCh4QPaXyMOJot3bPUiN9">series of duels</a>.
        <br />
        In this series, duelists start from the very first TCG Yu-Gi-Oh! booster box and open 24 packs virtually, using <a href="https://db.ygoprodeck.com/pack-open/">this simulated pack opener</a>.
        <br />
        After opening their packs, they create a deck using only the cards they opened.
        <br />
        Then they duel each other for fun to see who has the better old-school deck!
        <br />
        After dueling, they proceed to the next set and repeat, adding the new cards to their existing collection and revamping their decks.
    </p>
</Blazorise.CardBody>

<Blazorise.CardHeader Class="bg-secondary">
    <h4>What does this web app do?</h4>
</Blazorise.CardHeader>
<Blazorise.CardBody>
    <p>
        This app will allow users to start their own progression series of duels, with any number of duelists, and keep track of their cards.
        <br />
        The host of that series will be in charge of distributing packs to all participants.
        <br />
        Participants can open their packs anytime they wish. Cards are stored in the database for only that progression series, so you can have any number of different card collections.
        <br />
        Since having more than 3 copies of a card is useless, the app will automatically convert excess cards into Star Chips (Higher Rarity Cards have greater value).
        <br />
        These Star Chips can be used to buy extra packs, if the Host allows it.
        <br />
        The list of booster packs available comes directly from <a href="https://db.ygoprodeck.com/pack-open/">this simulated pack opener</a>.
    </p>
    <p>
        *FULL DISCLOSURE*
        <br />
        This Web app is simply using that same pack simulator under-the-hood, all I did was make it so an actual Progression Series can be hosted more easily.
    </p>
</Blazorise.CardBody>

<Blazorise.CardHeader Class="bg-secondary">
    <h4>Can I use this app to duel online?</h4>
</Blazorise.CardHeader>
<Blazorise.CardBody>
    <p>
        This app is *NOT* a dueling simulator, you do not duel on here!
        <br />
        I would highly recommend using either EdoPro or DuelingBook for online dueling!
    </p>
</Blazorise.CardBody>

<Blazorise.CardHeader Class="bg-secondary">
    <h4>Why is this site so slow and buggy?</h4>
</Blazorise.CardHeader>
<Blazorise.CardBody>
    <p>
        I am a single developer who is just doing this in my spare time, please bare with me.
        <br />
        This is also the first time I have ever done any web development, and I usually am not very good with user interfaces to begin with :p
        <br />
        This also is also being hosted on a free-tier, so it is *very* limited on resources.
    </p>
</Blazorise.CardBody>